<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coursera Assignment 1</title>
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="./angular.min.js"></script>
    <script type="text/javascript" src="./app.js">
    </script>
    <script src="https://cdn3.devexpress.com/jslib/16.2.3/js/dx.all.js"></script>
</head>
<body class="container" ng-app="LunchCheck">
  <div ng-controller="LunchCheckController">
    <br>
    <form class="form-horizontal">
      <label for="meals" class="control-label label label-primary">Enter Meals:</label>
      <input ng-style="mealInput" class="form-control" id="meals" type="text" name="meals" ng-model="meals" autofocus=""><br>
    <button class="btn btn-info" type="button" ng-click="checkMeals()" >Check If Too Much</button> &nbsp
    <span ng-bind="comment"></span>
  </form> <br>
    <p ng-bind="info" ng-style="col"></p>
  </div>
  <br><br><br><br>
<tree-view></tree-view>
</body>
</html>
